profiles {

    agc {

    report {
        enabled = true
        file = "${params.report_dir}/report.html"
        overwrite = true
    }

    trace {
        enabled = true
        file = "${params.report_dir}/trace.txt"
        overwrite = true
    }

    timeline {
        enabled = true
        file = "${params.report_dir}/timeline.html"
        overwrite = true
    }

    dag {
        enabled = true
        file = "${params.report_dir}/workflow_dag.html"
        overwrite = true
    }

  }

}
